#cabecalho {
  max-width: 1280px;
  background-color: #fff;
}

#cabecalho div {
  margin: 0 auto;
  height: 30rem;
}

#cabecalho span {
  font-size: 2rem;
}

#cabecalho img {
  height: 100px;
}

#rodape {
  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px solid #606060;
  width: 100vw;

  padding-top: 4rem;
}

#index {
  display: flex;
  align-items: center;
  justify-content: center;
}

#index a {
  width: 10rem;
  height: 3.5rem;

  border-radius: 0.5rem;

  background-color: #20a520;

  color: #fff;
}

#title-catalogo {
  font-size: 1rem;
  color: #1da724;
}
#title-component {
  font-size: 2rem;
  color: #383636;
}

#table {
  display: flex;
  align-items: flex-start;
}

#input {
  border: 1px solid #979494;

  border-radius: 8px;
  padding-left: 1rem;

  height: 3rem;
  font-size: 1rem;
  font-weight: 700;

  width: 100%;
}

#input :hover {
  border-color: #646161;
}

#input :focus {
  border: 2px solid #646161;
}

#detalhes-livro {
  width: 500px;
  padding: 1rem;
}

#continuar-comprando {
  width: 10rem;
  height: 3.5rem;

  border-radius: 0.5rem;

  background-color: #469b94;

  color: #000;
}
